button, .btn {
    color: white;
    font-family: font;
    font-size: fontSize;
    border-radius: 0;
    border-color: primaryColour;
    background-color: primaryColour;
    height: 50px
}

.btn:hover {
    color: white;
}

.btn--full {
    width: 100%;
}

.solidBtn {
	background-color: main;
	border-color: main;
	color: #FFF;
	font-size: 15px;
	&:hover {
		background-color: mainDark;
	}
}

.modalBtn {
  @extends .solidBtn;
  margin-top: 48px;
  width: 100%;
  font-weight: 700;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
