darkGrey = #202020
lightGrey = #dbd8d8
teal = #5eab98
orange = #f7a400

main =  darkGrey
mainLight = teal
contentColour = lightGrey
mainDark = darkGrey

accent1 = teal
accent2 = orange
accent3 = lightblue
