darkGrey = #202020
lightGrey = #dbd8d8
teal = #5eab98
orange = #f7a400
green = #4CAF50

accent1 = teal
accent2 = orange
accent3 = white

main =  darkGrey
mainLight = teal
contentColour = accent3
mainDark = darkGrey
