darkGrey = #202020
darkerGrey = #090909
lightGrey = #dbd8d8
teal = #5eab98
orange = #f7a400
green = #4CAF50
darkteal = #1d5d63
purple = #8243d7

accent1 = teal
accent2 = orange
accent3 = white
accent4 = darkteal
accent5 = #333333

main =  darkGrey
mainLight = teal
contentColour = accent3
mainDark = darkGrey
