input[type="text"], input[type="email"], textarea, select.select {
    width: 100%;
    height: 50px;
    border: 1px solid #dddddd;
    margin-bottom: 12px;
    padding: 10px;
    font-size: fontSize;
    border-radius: 0 !important;
    font-family: font;
}
::-webkit-input-placeholder {
  color: primaryColour;
  font-family: font;
  font-size: fontSize;
}

input:focus, select:focus, textarea:focus {
  border-color: primaryColour;
}

input[type="checkbox"] {
    height: initial;
    width: initial;
}

.input-label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-weight: normal;
}

.checkbox-container {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.checkbox__label {
    font-weight: normal;
    display: inline;
}

.form__label {
    font-weight: normal;
}

.help-text {
    color: gray;
    font-size: 14px;
    font-weight: normal;
}

legend {
    padding-left: 0;
}

fieldset {
    margin: 0;
}

