.layout__sidebar {
    float: left;
    margin-left: 0;
}

.layout__main {
    float: right;
}

.container--full {
  padding: 0 20px;
}

.header-container {
  padding: 2rem 20px;
  margin-bottom: 5rem;
  border-bottom: 1px solid #e0e1dc;
}

@media (min-width: 480px) {
    .header-container {
      border-bottom: 0;
      margin-bottom: 1rem;
    }
}