ul {
    padding-left: 1.75rem;
    margin-bottom: 2rem;
    font-size: fontSize;
}
li {
    list-style-type: square;
    margin-bottom: 0.5rem;
    list-style-position: outside;
}
.list--clean {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list--clean > li {
  list-style: none;
}
.list--inline > li {
  display: inline-block;
}
.list--no-margin > li {
  margin-bottom: 0;
}
.li--divider {
    height: 1rem;
}