h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

h6 {
    font-weight: bold;
    font-size: fontSize;
}

p {
    margin-bottom: 2rem;
}

.text--small {
  font-size: 12px;
}

.no-bold {
    font-weight: normal;
}
